.wrapper {
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.card {
    height: 100%;
    width: 98%;
    padding: 50px;
}

header {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 10px;
}

.text-label {
    padding-bottom: 10px;
    font-size: 13px;
}

#text-input {
    margin-bottom: 10px;
    min-height: 100px;
}

.placeholder-text{
    font-size: 10px;
    margin-left: 10px;
}

textarea{
    max-height: 200px;
}

#language-select{
    font-size: 13px;
    margin-bottom: 20px;
}